#test {
  color: gray;
}

table{border-collapse: collapse;}

table:last-child{
    display: none;
}

td{
    border:1px solid black;
    width:150px;
    height:150px;
    text-align: center;
    color:white;
    font-size:55px;
}
